<a href="https://colab.research.google.com/github/BeSon0302/18600232_18600322_18600174/blob/master/Python_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bài tập

### B-1
Tìm phần tử lớn nhất trong mảng hai chiều

In [25]:
def max2d_array(arr):
  Max=0
  ind=len(arr)-1 
  for i in range(0,ind):
    t=max(arr[i])
    if t>Max:
      Max=t
  print("Phan tu lon nhat cua mang 2 chieu la:",Max)

In [26]:
arr = [
    [1, 2, 5],
    [3 , 5, 9],
    [2,7,10,],
    [9, 8, -3]
]
max2d_array(arr)

Phan tu lon nhat cua mang 2 chieu la: 10

### B-2
Tạo ngẫu nhiên 5 sinh viên theo cấu trúc sau:

In [29]:
class_a = {
    'sinhvien1': {
        "hovaten": "Nguyen Van A",
        "tuoi": 20,
        "diem": [7,8.5,9]
    },
    'sinhvien2': {
        "hovaten": "Nguyen Van B",
        "tuoi": 20,
        "diem": [7,8.5,9]
    },
    'sinhvien3': {
        "hovaten": "Nguyen Van C",
        "tuoi": 20,
        "diem": [7,8.5,9]
    },
    'sinhvien4': {
        "hovaten": "Nguyen Van D",
        "tuoi": 20,
        "diem": [7,8.5,9]
    },
    'sinhvien5': {
        "hovaten": "Nguyen Van E",
        "tuoi": 20,
        "diem": [7,8.5,9]
    }
}

Yêu cầu thêm 4 sinh viên khác theo cấu trúc trên. Và in ra `diem` của sinh vien thứ 3. (Giá trị tùy chọn)
Mục đích làm quen với kiểu dict và truy xuất giá trị.

In [31]:
# TODO in diem sinh viên thứ 3
print(class_a['sinhvien3']['diem'])

[7, 8.5, 9]

In [39]:
# ví dụ tuoi của sinh vien thứ 2
class_a['sinhvien2']['tuoi']

20

#### B-3
Bạn được cung cấp một chuỗi và nhiệm vụ của bạn là hoán đổi các trường hợp. Nói cách khác, chuyển đổi tất cả các chữ cái thường thành chữ hoa và ngược lại.
Ví dụ:
```
Www.HackerRank.com → wWW.hACKERrANK.COM
Pythonist 2 → pYTHONIST 2
```

In [33]:
def swap_case(s):
    # TODO
    temp=""
    arr=[]
    for i in s:
      if i.islower()==True:
        temp+=i.upper()
      elif i.isupper()==True:
        temp+=i.lower()
      else:
        temp+=i;
    print(temp)
    return

In [34]:
swap_case("Www.HackerRank.com")

wWW.hACKERrANK.COM

In [35]:
swap_case("Pythonist 2")

pYTHONIST 2

#### B-4
Cho một số đếm tổng số chữ số trong một số

In [36]:
def count_digit(n):
    #TODO
    dem=1
    while(n>=10):
        dem+=1
        n/=10
    print(dem)
    pass

In [37]:
count_digit(4243) # -> 4

4

#### B -5 
Hãy thay đổi mức lương của Brad thành 8500

In [63]:
#@title Văn bản tiêu đề mặc định
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

In [68]:

sampleDict["emp3"]["salary"]=8500
print(sampleDict["emp3"]["salary"])

8500

# OOP

#### B-1
Điền vào các phương thức của lớp Line để chấp nhận tọa độ dưới dạng một cặp bộ giá trị và trả về độ dốc và khoảng cách của đường thẳng.

In [130]:
import math
class Line:
    
    def __init__(self,x1=3,y1=2,x2=8,y2=10):
        self.x1=x1
        self.y1=y1
        self.x2=x2
        self.y2=y2
    
    def distance(self):
        distance = math.sqrt( ((x1-x2)**2)+((y1-y2)**2) )
        print(distance)
    
    def slope(self): # (y2-y1)/(x2-x1)
        a = (y2-y1)/(x2-x1)
        print(a)

In [125]:
# EXAMPLE OUTPUT

coordinate1 = (3,2)
coordinate2 = (8,10)

li = Line(coordinate1,coordinate2)

In [129]:
li.distance()

NameError: ignored

In [121]:
li.slope()

NameError: ignored

### B-2
Hình trụ

In [107]:
class Cylinder:
    
    def __init__(self,height=1,radius=1):
        self.height=height
        self.radius=radius
        
    def volume(self): # thể tích
         return self.radius*2*self.height

In [108]:
# EXAMPLE OUTPUT
c = Cylinder(2,3)

In [109]:
c.volume()

12